.card img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
}

.card .shareBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}