.card img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
  object-fit: cover;
}

.card .shareBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

.card .shareBtn:hover {
  color: blue;
  transform: scale(1.2);
}

.card .shareBtn {
  transition: 0.2s;
}